<script>
//  setTimeout(window.print, 1000);
</script>
"ИП Крикол Н.В"<br>
Бутик цветов ButtON <br>
г. Соликамск. ул. 20 лет Победы 117а<br>
Чек №{{checknum}}<br>
*********************************************************<br>
<br>
Дата <span>{{orders[0].create_time.split(' ')[0]}}</span><br>
Время <span>{{orders[0].create_time.split(' ')[1]}}</span><br>
<br>
Товары:<br>
<p ng-repeat="order in orders" class="p-0 m-0">
  {{order.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{order.count}} шт.
</p>
------------------------------------------------------------------<br>
<b>ИТОГ: {{sum}} рублей</b><br>
Тип оплаты: {{orders[0].pay_type}}<br>
------------------------------------------------------------------<br>
ИНН: 594102634036<br>
ОГРНИП: 307591915600029<br>
Номер телефона: 6-99-65<br>
