    /*
    Flaticon icon font: Flaticon
    Creation date: 31/05/2016 21:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-dahlia:before { content: "\f100"; }
.flaticon-gardenia:before { content: "\f101"; }
.flaticon-herbal-spa-treatment-leaves:before { content: "\f102"; }
.flaticon-nature:before { content: "\f103"; }
.flaticon-nature-1:before { content: "\f104"; }
.flaticon-nymphea:before { content: "\f105"; }
.flaticon-oleander:before { content: "\f106"; }
    
    $font-Flaticon-dahlia: "\f100";
    $font-Flaticon-gardenia: "\f101";
    $font-Flaticon-herbal-spa-treatment-leaves: "\f102";
    $font-Flaticon-nature: "\f103";
    $font-Flaticon-nature-1: "\f104";
    $font-Flaticon-nymphea: "\f105";
    $font-Flaticon-oleander: "\f106";