<div class="row">
  <div class="col-md-12">
    <div class="header-line">
      <img src="/images/logo.jpg" height="50" alt="">
      <div class="pull-right logout" ng-click="logout()">Выйти</div>
      <a href="#/superuser" class="pull-right logout" ng-show="user.level == 1">Управление товарами</a>
    </div>
  </div>
</div>

<div class="row m-t-20">
  <div class="col-md-9">

    <div class="container-fluid">

      <!--<div class="col-md-12">-->
        <!--<h3>Сумма {{ getSumma() }} руб. </h3>-->
      <!--</div>-->
      <div class="col-md-4" ng-repeat="product_type in products">

        <table class="table table-hover">
          <tr ng-repeat="product in product_type" ng-click="open('sm',product)" class="pointer">
            <td>{{product.name}}</td>
            <td width="50" align="center"><span class="badge badge-primary">{{product.count}}</span></td>
            <td width="50" align="center" ng-show="user.level == 1"><span class="badge badge-danger">{{product.removed}}</span></td>
            <td width="50" align="center" ng-show="user.level == 1"><span class="badge badge-success">{{product.sold}}</span></td>
          </tr>
        </table>

        <!--<ul class="list-group">-->
          <!--<li class="list-group-item pointer" ng-repeat="product in product_type" ng-click="open('sm',product)">-->
            <!--<span class="badge badge-primary">{{product.count}}</span>-->
            <!--<span class="badge badge-danger">{{product.removed}}</span>-->
            <!--<span class="badge badge-success">{{product.sold}}</span>-->
            <!--{{product.name}}-->
          <!--</li>-->
        <!--</ul>-->

      </div>

    </div>

  </div>
  <div class="col-md-3">

    <div class="container-fluid">

      <div class="col-md-12">

        <table class="table">
          <tr>
            <td colspan="6"><h3 class="text-center">Заказ</h3></td>
          </tr>
          <tr>
            <td colspan="6"><h4 class="text-center">Сумма {{ getSumma() }} руб.</h4></td>
          </tr>
          <tr>
            <td colspan="6"><h4 class="text-center">Выберите способ оплаты</h4></td>
          </tr>
          <tr>
            <td colspan="3"><button type="button" class="btn btn-success btn-group-justified pull-left" ng-class="{'btn-success-selected': !payType}" ng-click="payType = true">Наличными</button></td>
            <td colspan="3"><button type="button" class="btn btn-success btn-group-justified pull-right" ng-class="{'btn-success-selected': payType}" ng-click="payType = false">Картой</button></td>
          </tr>
          <tr ng-repeat="(key,product) in cart.inner">
            <td colspan="2">{{product.name}}</td>
            <td><span class="badge pointer" ng-click="cart.inner[key].inc()">+</span></td>
            <td><span class="badge badge-primary">{{product.count}}</span></td>
            <td><span class="badge pointer" ng-click="cart.inner[key].dec()">-</span></td>
            <td><span class="badge badge-danger pointer" ng-click="cart.removeFromCart(key)">x</span></td>
          </tr>
          <tr>
            <td colspan="6"><button type="button" class="btn btn-success pull-right btn-group-justified" ng-click="cart.form()">Оплатить</button></td>
          </tr>
        </table>
        <!--<ul class="list-group">-->
          <!--<li class="list-group-item" ng-repeat="(key,product) in cart.inner">-->
            <!--<span class="badge badge-danger pointer" ng-click="cart.removeFromCart(key)">x</span>-->
            <!--<span class="badge pointer" ng-click="cart.inner[key].inc()">+</span>-->
            <!--<span class="badge badge-primary">{{product.count}}</span>-->
            <!--<span class="badge pointer" ng-click="cart.inner[key].dec()">-</span>-->
            <!--{{product.name}}-->
          <!--</li>-->
        <!--</ul>-->

      </div>



    </div>

  </div>
  <div class="col-md-12">

    <!--<uib-progress>-->
      <!--<uib-bar value="getPercent()" type="success"></uib-bar>-->
      <!--<uib-bar value="getPercentRemoved()" type="danger"></uib-bar>-->
    <!--</uib-progress>-->

  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title pull-left">{{selectedProduct.name}}</h3>
    <button type="button" class="close pull-right" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <img src="{{selectedProduct.img}}" class="center-block" width="100" height="100" alt="">

          <div class="input-group m-t-20">
            <span class="input-group-addon pointer" ng-click="dec()">-</span>
            <input type="text" class="form-control text-center" placeholder="Количество" ng-model="itemcount">
            <span class="input-group-addon pointer" ng-click="inc()">+</span>
          </div>

          <p class="text-right m-t-20">
            <button type="button" class="btn btn-default btn-danger btn-sm" ng-show="user.level == 1" ng-click="removed()">Списать</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Отмена</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="ok()">Ok</button>
          </p>

        </div>
      </div>
    </div>

  </div>
</script>
