<div class="row">
  <div class="col-md-12">
    <div class="header-line">
      <img src="/images/logo.jpg" height="50" alt="">
      <div class="pull-right logout" ng-click="logout()">Выйти</div>
      <a href="#/" class="pull-right logout" ng-show="user.level == 1">Главная</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <div class="panel panel-default m-t-20">
      <div class="panel-heading">Создание продукта</div>
      <div class="panel-body">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <p class="text-center">Тип</p>
            </div>
            <div class="col-md-10">
              <select class="form-control" ng-model="item_type">
                <option value="1">Цветы</option>
                <option value="2">Оформление</option>
                <option value="3">Прочее</option>
              </select>
            </div>
            <div class="col-md-4 m-t-10">
              <input type="text" class="form-control" placeholder="Название" ng-model="item_name">
            </div>
            <div class="col-md-4 m-t-10">
              <input type="text" class="form-control" placeholder="Стоимость" ng-model="item_price">
            </div>
            <div class="col-md-4 m-t-10">
              <input type="text" class="form-control" placeholder="url" ng-model="item_url">
            </div>
            <div class="col-md-12 m-t-10">
              <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="manager.addProduct()">Создать</button>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
  <div class="col-md-4">

    <div class="panel panel-default m-t-20">
      <div class="panel-heading">Список продуктов</div>
      <table class="table table-hover">
        <thead>
        <tr>
          <td>
            Название
          </td>
          <td>
            Стоимость
          </td>
          <td>
            Тип
          </td>
          <td>
            Остаток
          </td>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="line in productsList" ng-click="selectProduct(line)" ng-class="{'bg-primary': line.products_id == selectedProduct.products_id}">
            <td>{{line.name}}</td>
            <td>{{line.price}}</td>
            <td>{{line.products_types_products_types_id}}</td>
            <td>{{line.count}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  <div class="col-md-4">

    <div class="panel panel-default m-t-20">
      <div class="panel-heading">Редактор</div>

      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Название" ng-model="selectedProduct.name">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 m-t-20">
              <p>Стоимость</p>
            </div>
            <div class="col-md-6 m-t-20">
              <input type="text" class="form-control" placeholder="Стоимость" ng-disabled="true" ng-model="selectedProduct.price">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 m-t-20">
              <p>Добавить</p>
            </div>
            <div class="col-md-4 m-t-20">
              <input type="text" class="form-control" placeholder="Количество" ng-model="addCount">
            </div>
            <div class="col-md-4 m-t-20">
              <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addProductCount()">Добавить</button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer clearfix">
        <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateProduct()">Изменить</button>
      </div>
    </div>


  </div>
</div>
